{% extends "base.html" %}

{% block title %}Populate a Puzzle{% endblock %}

{% block addhead %}
<script type="text/javascript">
  var sitesUrls = {
    {% for site in sites -%}
    {{ site.id.to_string()|jsstring|safe }}: {{ site.url|jsstring|safe }}{% if !loop.last %},{% endif %}
    {% endfor -%}
  };
  var sitesNotes = {
    {% for site in sites -%}
    {{ site.id.to_string()|jsstring|safe }}: {{ site.notes|jsstring|safe }}{% if !loop.last %},{% endif %}
    {% endfor -%}
  };
  document.addEventListener('DOMContentLoaded', function () {
    function performChange() {
      var siteLink = document.getElementById('wordle-archive-site-link');
      while (siteLink.firstChild) {
        siteLink.removeChild(siteLink.lastChild);
      }
      var url = sitesUrls[siteSelect.value];
      if (url) {
        var anchor = document.createElement("a");
        anchor.href = url;
        anchor.textContent = "go to site";
        siteLink.appendChild(anchor);
      }

      var notesElement = document.getElementById('wordle-archive-site-notes');
      var notes = sitesNotes[siteSelect.value];
      notesElement.textContent = notes ? notes : '';
    }

    var siteSelect = document.getElementById('wordle-archive-populate-site');
    siteSelect.addEventListener("change", performChange);
    performChange();
  });
</script>
{% endblock %}

{% block content %}
<h1>Populate a Puzzle</h1>

<form method="post">

<p>
  <label>
    Site:<br/>
    <select id="wordle-archive-populate-site" name="site" required="required">
      <optgroup label="Not yet solved today">
        {% for site in sites -%}
          {% if !solved_sites.contains(site.id) -%}
            <option value="{{ site.id }}">{{ site.name|escape }}</option>
          {% endif -%}
        {% endfor -%}
      </optgroup>
      <optgroup label="Already solved today">
        {% for site in sites -%}
          {% if solved_sites.contains(site.id) -%}
            <option value="{{ site.id }}">{{ site.name|escape }}</option>
          {% endif -%}
        {% endfor -%}
      </optgroup>
    </select>
  </label>
  <span id="wordle-archive-site-link"></span>
</p>

<p id="wordle-archive-site-notes"></p>

<p>
  <label>
    Result:<br/>
    <textarea name="result" required="required"></textarea>
  </label>
</p>

<p>
  <label>
    Guesses:<br/>
    <textarea name="solution" required="required"></textarea>
  </label>
</p>

<p>
  <label>
    Daily ordinal:
    <input type="number" name="day-ordinal" required="required" min="0" value="0" />
  </label>
</p>

<p><input type="submit" value="record" /></p>

</form>

<p>
  today&#8217;s puzzles:
  <a href="wordle/{{ today_string|urlencode|escape }}">public</a>
  {% if let Some(tok) = token -%}
    &middot;
    <a href="wordle/{{ today_string|urlencode|escape }}?token={{ tok|urlencode|escape }}">with token</a>
  {% endif -%}
</p>
{% endblock %}
