{% extends "base.html" %}

{% block title %}Wordle Archive{% endblock %}

{% block addhead %}
<script src="{{ static_prefix }}/puzzles.js"></script>
<script type="text/javascript">
  //<![CDATA[
    WordleArchive.Puzzles.puzzles = [
      {% for puzzle in puzzles -%}
        {{ puzzle| puzzle_string | jsstring | safe }},
      {% endfor -%}
    ];
    WordleArchive.Puzzles.setUp();
  //]]>
</script>
{% endblock %}

{% block content %}
<h1>Wordle Archive</h1>

{% if let Some(date) = date_opt %}
<h2>{{ date.format("%Y-%m-%d")|escape }}</h2>
{% endif %}

<p class="date-nav">
  {% if let Some(date) = date_opt -%}
    {% if let Some(yesterday) = date.pred_opt() -%}
      <a href="{{ yesterday.format("%Y-%m-%d")|escape }}{% if let Some(tok) = token %}?token={{ tok|urlencode|escape }}{% endif %}" title="one day back">&#11013;&#65039;</a>
    {% else -%}
      <span class="disabled-link">&#11013;&#65039;</span>
    {% endif -%}
    {% if let Some(tomorrow) = date.succ_opt() -%}
      <a href="{{ tomorrow.format("%Y-%m-%d")|escape }}{% if let Some(tok) = token %}?token={{ tok|urlencode|escape }}{% endif %}" title="one day forward">&#10145;&#65039;</a>
    {% else -%}
      <span class="disabled-link">&#10145;&#65039;</span>
    {% endif -%}
  {% endif -%}

  {% if allow_spoiling -%}
    {% if !spoil -%}
      <a href="?spoil=true{% if let Some(tok) = token %}&amp;token={{ tok|urlencode|escape }}{% endif %}" title="spoil the answers">&#128065;&#65039;</a>
    {% else -%}
      <span class="disabled-link">&#128065;&#65039;</span>
    {% endif -%}
  {% endif -%}

  <a href="../stats" title="statistics">{% if stats_upwards_curve %}&#128200;{% else %}&#128201;{% endif %}</a>
</p>

{% for puzzle in puzzles -%}
<h3>{{ puzzle.site.name|escape }}</h3>

<p class="puzzle-links"><a href="../puzzle/{{ puzzle.id }}">only this</a> &middot; <a href="{{ puzzle.site.url|escape }}">visit site</a></p>

<section class="puzzle puzzle-id-{{ puzzle.id }} site-{{ puzzle.site.css_class|escape }}">

<div class="head">{{ puzzle.head|escape }}</div>

{% for (sub_puzzle_index, sub_puzzle) in puzzle.sub_puzzles.iter().enumerate() -%}
  <div class="sub-puzzle sub-puzzle-index-{{ sub_puzzle_index }} variant-{{ puzzle.site.variant|escape }}">
    {% if puzzle.site.variant == "geo" -%}
      {% for (guess, solution) in sub_puzzle.guess_lines -%}
      <div class="field-row guess-row">
        {%- for g in guess.chars() -%}
          {%- if g == 'C' || g == 'M' || g == 'W' -%}
            <div class="field-box guess-{{ g|escape }}"></div>
          {%- else -%}
            <div class="arrow-box">{{ g|escape }}&#65039;</div>
          {%- endif -%}
        {%- endfor -%}

        {% if spoil -%}
          <div class="guess-box">{{ solution|escape }}</div>
        {% endif -%}
      </div>
      {% endfor -%}

      {% if spoil && !sub_puzzle.victory -%}
      <div class="field-row solution-row">
        <div class="guess-box">{{ sub_puzzle.solution|escape }}</div>
      </div>
      {% endif -%}

    {% else if puzzle.site.variant == "audio" -%}

      {% for (guess, solution) in sub_puzzle.guess_lines -%}
      <div class="field-row guess-row">
        {%- for g in guess.chars() -%}
          <div class="field-box guess-{{ g|escape }}"></div>
        {%- endfor -%}

        {%- if spoil -%}
          <div class="guess-box">{{ solution|escape }}</div>
        {%- endif -%}
      </div>
      {% endfor -%}

      {% if spoil && !sub_puzzle.victory -%}
      <div class="field-row solution-row">
        <div class="guess-box">{{ sub_puzzle.solution|escape }}</div>
      </div>
      {% endif -%}

    {% else if puzzle.site.variant == "wordle32" -%}

      {% let wrong_solution_manager = sub_puzzle|make_wrong_solution_manager -%}

      <div class="field">
        {% for pattern_line in sub_puzzle.pattern_lines -%}
          <div class="field-row guess-row">
            {% for pattern_chunk in pattern_line.split(" ") -%}
              {% if pattern_chunk == "XX" -%}
                <div class="field-box guess-W">XX</div>
              {% else -%}
                <div class="field-box guess-T">{{ pattern_chunk }}</div>
              {% endif -%}
            {% endfor -%}
          </div>
          {% if spoil -%}
            <div class="solution-row">
              {% for pattern_chunk in pattern_line.split(" ") -%}
                {% if pattern_chunk != "XX" -%}
                  {% if let Ok(index) = usize::from_str_radix(pattern_chunk, 10) -%}
                    {% if let Some(solution) = sub_puzzle.solution_lines|get_index(index - 1) -%}
                      <div class="solution-box correct">{{ solution|escape }}</div>
                    {% endif -%}
                  {% endif -%}
                {% else -%}
                  {% let this_index = wrong_solution_manager.advance() -%}
                  {% if let Some(solution) = sub_puzzle.solution_lines|get_index(this_index) -%}
                    <div class="solution-box wrong">{{ solution|escape }}</div>
                  {% endif -%}
                {% endif -%}
              {% endfor -%}
            </div>
          {% endif -%}
        {% endfor -%}
      </div>

      {% if spoil -%}
        <div class="all-guess-pane">
          {% for index in wrong_solution_manager.correct_indexes() -%}
            {% if let Some(guess) = sub_puzzle.solution_lines|get_index(index) -%}
              <div class="all-guess-row">
                {% for c in guess.chars() -%}
                  <div class="solution-box">{{ c|escape }}</div>
                {% endfor -%}
              </div>
            {% endif -%}
          {% endfor -%}
        </div>
        <script src="{{ static_prefix }}/wordle32-spoiler.js"></script>
        <script>WordleArchive.Wordle32Spoiler.register({{ puzzle.id }}, {{ sub_puzzle_index }});</script>
      {% endif -%}

    {% else -%}

      <div class="field">
        {% for (guess, solution) in sub_puzzle.guess_lines -%}
          <div class="field-row guess-row">
            {%- for (g, s) in guess.chars().zip(solution.chars()) -%}
              <div class="field-box guess-{{ g|escape }}">{% if spoil %}{{ s|escape }}{% endif %}</div>
            {%- endfor -%}
          </div>
        {% endfor -%}

        {% if spoil && !sub_puzzle.victory -%}
          <div class="field-row solution-row">
            {%- for s in sub_puzzle.solution.chars() -%}
              <div class="field-box solution">{{ s|escape }}</div>
            {%- endfor -%}
          </div>
        {% endif -%}

      </div>
    {% endif -%}
  </div>
{% endfor -%}

<div class="tail">{{ puzzle.tail|escape }}</div>

</section>

{% endfor -%}

{% endblock %}
